<div id="cardsgroup"class="card-group">
  <div id="cards" class="card">
    <a href="productdetail"><img class="card-img-top" src="https://assets.myntassets.com/f_webp,dpr_1.0,q_60,w_210,c_limit,fl_progressive/assets/images/13328040/2021/1/25/87bf0105-9b18-400f-9272-d9885238a82c1611567680803-Nike-MC-Trainer-Mens-Training-Shoe-951611567679209-1.jpg" alt="Card image cap"></a>
    <div class="card-body">
      <h5 class="card-title">Nike</h5>
      <p class="card-text"><small class="text-muted">Men MC Training Shoes</small></p>
      <p class="card-text"><small><strong>Rs. 4950</strong></small></p>
    </div>
  </div>
  <div id="cards" class="card">
    <img class="card-img-top" src="https://assets.myntassets.com/f_webp,dpr_1.0,q_60,w_210,c_limit,fl_progressive/assets/images/13886012/2021/4/7/59fbcbf5-e381-4313-95c6-7f946447ac151617799377572-Nike-Men-Black--White-Printed-Sliders-1181617799377142-1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Nike</h5>
      <p class="card-text"><small class="text-muted">Men Printed Sliders</small></p>
      <p class="card-text"><small><strong>Rs. 1995</strong></small></p>
    </div>
  </div>
  <div id="cards" class="card">
    <img class="card-img-top" src="https://assets.myntassets.com/f_webp,dpr_1.0,q_60,w_210,c_limit,fl_progressive/assets/images/16273692/2022/3/25/2b8ed715-b5fe-4a51-b1b7-0244c148f3971648198366866-Nike-Offcourt-Mens-Slides-231648198366508-1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Nike</h5>
      <p class="card-text"><small class="text-muted">Printed Sliders</small></p>
      <p class="card-text"><small><strong>Rs. 2495</strong></small></p>
    </div>
  </div>
  <div id="cards" class="card">
      <img class="card-img-top" src="https://assets.myntassets.com/f_webp,dpr_1.0,q_60,w_210,c_limit,fl_progressive/assets/images/15384892/2022/4/25/fd39b15b-9350-45fd-bcf8-9a894f1b41921650874300549NikeMenBlackZoomWinflo7RunningShoes1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Nike</h5>
        <p class="card-text"><small class="text-muted">Men Winflo 7Running Shoes</small></p>
        <p class="card-text"><small><strong>Rs. 7195</strong></small></p>
      </div>
    </div>
</div>
<div class="card-group">
  <div id="cards" class="card">
    <img class="card-img-top" src="https://assets.myntassets.com/f_webp,dpr_1.0,q_60,w_210,c_limit,fl_progressive/assets/images/13328040/2021/1/25/87bf0105-9b18-400f-9272-d9885238a82c1611567680803-Nike-MC-Trainer-Mens-Training-Shoe-951611567679209-1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Nike</h5>
      <p class="card-text"><small class="text-muted">Men MC Training Shoes</small></p>
      <p class="card-text"><small><strong>Rs. 4950</strong></small></p>
    </div>
  </div>
  <div id="cards" class="card">
    <img class="card-img-top" src="https://assets.myntassets.com/f_webp,dpr_1.0,q_60,w_210,c_limit,fl_progressive/assets/images/13886012/2021/4/7/59fbcbf5-e381-4313-95c6-7f946447ac151617799377572-Nike-Men-Black--White-Printed-Sliders-1181617799377142-1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Nike</h5>
      <p class="card-text"><small class="text-muted">Men Printed Sliders</small></p>
      <p class="card-text"><small><strong>Rs. 1995</strong></small></p>
    </div>
  </div>
  <div id="cards" class="card">
    <img class="card-img-top" src="https://assets.myntassets.com/f_webp,dpr_1.0,q_60,w_210,c_limit,fl_progressive/assets/images/16273692/2022/3/25/2b8ed715-b5fe-4a51-b1b7-0244c148f3971648198366866-Nike-Offcourt-Mens-Slides-231648198366508-1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Nike</h5>
      <p class="card-text"><small class="text-muted">Printed Sliders</small></p>
      <p class="card-text"><small><strong>Rs. 2495</strong></small></p>
    </div>
  </div>
  <div id="cards" class="card">
      <img class="card-img-top" src="https://assets.myntassets.com/f_webp,dpr_1.0,q_60,w_210,c_limit,fl_progressive/assets/images/15384892/2022/4/25/fd39b15b-9350-45fd-bcf8-9a894f1b41921650874300549NikeMenBlackZoomWinflo7RunningShoes1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Nike</h5>
        <p class="card-text"><small class="text-muted">Men Winflo 7Running Shoes</small></p>
        <p class="card-text"><small><strong>Rs. 7195</strong></small></p>
      </div>
    </div>
</div>
<div class="card-group">
  <div id="cards" class="card">
    <img class="card-img-top" src="https://assets.myntassets.com/f_webp,dpr_1.0,q_60,w_210,c_limit,fl_progressive/assets/images/13328040/2021/1/25/87bf0105-9b18-400f-9272-d9885238a82c1611567680803-Nike-MC-Trainer-Mens-Training-Shoe-951611567679209-1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Nike</h5>
      <p class="card-text"><small class="text-muted">Men MC Training Shoes</small></p>
      <p class="card-text"><small><strong>Rs. 4950</strong></small></p>
    </div>
  </div>
  <div id="cards" class="card">
    <img class="card-img-top" src="https://assets.myntassets.com/f_webp,dpr_1.0,q_60,w_210,c_limit,fl_progressive/assets/images/13886012/2021/4/7/59fbcbf5-e381-4313-95c6-7f946447ac151617799377572-Nike-Men-Black--White-Printed-Sliders-1181617799377142-1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Nike</h5>
      <p class="card-text"><small class="text-muted">Men Printed Sliders</small></p>
      <p class="card-text"><small><strong>Rs. 1995</strong></small></p>
    </div>
  </div>
  <div id="cards" class="card">
    <img class="card-img-top" src="https://assets.myntassets.com/f_webp,dpr_1.0,q_60,w_210,c_limit,fl_progressive/assets/images/16273692/2022/3/25/2b8ed715-b5fe-4a51-b1b7-0244c148f3971648198366866-Nike-Offcourt-Mens-Slides-231648198366508-1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Nike</h5>
      <p class="card-text"><small class="text-muted">Printed Sliders</small></p>
      <p class="card-text"><small><strong>Rs. 2495</strong></small></p>
    </div>
  </div>
  <div id="cards" class="card">
      <img class="card-img-top" src="https://assets.myntassets.com/f_webp,dpr_1.0,q_60,w_210,c_limit,fl_progressive/assets/images/15384892/2022/4/25/fd39b15b-9350-45fd-bcf8-9a894f1b41921650874300549NikeMenBlackZoomWinflo7RunningShoes1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Nike</h5>
        <p class="card-text"><small class="text-muted">Men Winflo 7Running Shoes</small></p>
        <p class="card-text"><small><strong>Rs. 7195</strong></small></p>
      </div>
    </div>
</div>
<div class="card-group">
  <div id="cards" class="card">
    <img class="card-img-top" src="https://assets.myntassets.com/f_webp,dpr_1.0,q_60,w_210,c_limit,fl_progressive/assets/images/13328040/2021/1/25/87bf0105-9b18-400f-9272-d9885238a82c1611567680803-Nike-MC-Trainer-Mens-Training-Shoe-951611567679209-1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Nike</h5>
      <p class="card-text"><small class="text-muted">Men MC Training Shoes</small></p>
      <p class="card-text"><small><strong>Rs. 4950</strong></small></p>
    </div>
  </div>
  <div id="cards" class="card">
    <img class="card-img-top" src="https://assets.myntassets.com/f_webp,dpr_1.0,q_60,w_210,c_limit,fl_progressive/assets/images/13886012/2021/4/7/59fbcbf5-e381-4313-95c6-7f946447ac151617799377572-Nike-Men-Black--White-Printed-Sliders-1181617799377142-1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Nike</h5>
      <p class="card-text"><small class="text-muted">Men Printed Sliders</small></p>
      <p class="card-text"><small><strong>Rs. 1995</strong></small></p>
    </div>
  </div>
  <div id="cards" class="card">
    <img class="card-img-top" src="https://assets.myntassets.com/f_webp,dpr_1.0,q_60,w_210,c_limit,fl_progressive/assets/images/16273692/2022/3/25/2b8ed715-b5fe-4a51-b1b7-0244c148f3971648198366866-Nike-Offcourt-Mens-Slides-231648198366508-1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Nike</h5>
      <p class="card-text"><small class="text-muted">Printed Sliders</small></p>
      <p class="card-text"><small><strong>Rs. 2495</strong></small></p>
    </div>
  </div>
  <div id="cards" class="card">
      <img class="card-img-top" src="https://assets.myntassets.com/f_webp,dpr_1.0,q_60,w_210,c_limit,fl_progressive/assets/images/15384892/2022/4/25/fd39b15b-9350-45fd-bcf8-9a894f1b41921650874300549NikeMenBlackZoomWinflo7RunningShoes1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Nike</h5>
        <p class="card-text"><small class="text-muted">Men Winflo 7Running Shoes</small></p>
        <p class="card-text"><small><strong>Rs. 7195</strong></small></p>
      </div>
    </div>
</div>
<div class="card-group">
  <div id="cards" class="card">
    <img class="card-img-top" src="https://assets.myntassets.com/f_webp,dpr_1.0,q_60,w_210,c_limit,fl_progressive/assets/images/13328040/2021/1/25/87bf0105-9b18-400f-9272-d9885238a82c1611567680803-Nike-MC-Trainer-Mens-Training-Shoe-951611567679209-1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Nike</h5>
      <p class="card-text"><small class="text-muted">Men MC Training Shoes</small></p>
      <p class="card-text"><small><strong>Rs. 4950</strong></small></p>
    </div>
  </div>
  <div id="cards" class="card">
    <img class="card-img-top" src="https://assets.myntassets.com/f_webp,dpr_1.0,q_60,w_210,c_limit,fl_progressive/assets/images/13886012/2021/4/7/59fbcbf5-e381-4313-95c6-7f946447ac151617799377572-Nike-Men-Black--White-Printed-Sliders-1181617799377142-1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Nike</h5>
      <p class="card-text"><small class="text-muted">Men Printed Sliders</small></p>
      <p class="card-text"><small><strong>Rs. 1995</strong></small></p>
    </div>
  </div>
  <div id="cards" class="card">
    <img class="card-img-top" src="https://assets.myntassets.com/f_webp,dpr_1.0,q_60,w_210,c_limit,fl_progressive/assets/images/16273692/2022/3/25/2b8ed715-b5fe-4a51-b1b7-0244c148f3971648198366866-Nike-Offcourt-Mens-Slides-231648198366508-1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Nike</h5>
      <p class="card-text"><small class="text-muted">Printed Sliders</small></p>
      <p class="card-text"><small><strong>Rs. 2495</strong></small></p>
    </div>
  </div>
  <div id="cards" class="card">
      <img class="card-img-top" src="https://assets.myntassets.com/f_webp,dpr_1.0,q_60,w_210,c_limit,fl_progressive/assets/images/15384892/2022/4/25/fd39b15b-9350-45fd-bcf8-9a894f1b41921650874300549NikeMenBlackZoomWinflo7RunningShoes1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Nike</h5>
        <p class="card-text"><small class="text-muted">Men Winflo 7Running Shoes</small></p>
        <p class="card-text"><small><strong>Rs. 7195</strong></small></p>
      </div>
    </div>
</div>




<!-- <div class="container-fluid" style="margin-top: 100px;">
  <div class="row">
    <div class="col-lg-3">
     <app-productsub  [product]="productItem" *ngFor="let productItem of nike"></app-productsub>
    </div>
    <div class="col-lg-6">
      <app-product [product]="productItem" *ngFor="let productItem of nike">
      </app-product>
    </div>
    <div class="col-lg-3">
      <app-productsub  [product]="productItem" *ngFor="let productItem of nike"></app-productsub>
  </div>
</div>
</div> -->