<nav id="nav" class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="..//../assets/logo.png" height="40px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" routerLink="men">Men</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div id="colwid" class="col">
                <ul id="group"class="list-group list-group-horizontal">
                <ul id="ligr" class="list-group list-group-vertical">
                  <h5 style="color:rgb(185, 29, 29);font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-weight: bold;">Topwear</h5>
                    <li><a href="https://www.google.com/webhp?hl=en&sa=X&ved=0ahUKEwjP84LZ08X3AhWlT2wGHTJyB8EQPAgI" class="list-group-item-action">T-shirts</a></li>
                    <li><a href="#" class="list-group-item-action">Casual Shirts</a></li>
                    <li><a href="#" class="list-group-item-action">Formal Shirts</a></li>
                    <li><a href="#" class="list-group-item-action">Sweatshirts</a></li>
                    <li><a href="#" class="list-group-item-action">Jackets</a></li>
                  </ul>
                    <ul id="ligr" class="list-group list-group-vertical">
                      <h5 style="color:rgb(185, 29, 29);font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-weight: bold;">Bottomwear</h5>
                      <li><a href="https://www.google.com/webhp?hl=en&sa=X&ved=0ahUKEwjP84LZ08X3AhWlT2wGHTJyB8EQPAgI" class="list-group-item-action">Jeans</a></li>
                    <li><a href="#" class="list-group-item-action">Casual Trousers</a></li>
                    <li><a href="#" class="list-group-item-action">Formal Trousers</a></li>
                    <li><a href="#" class="list-group-item-action">Shorts</a></li>
                    <li><a href="#" class="list-group-item-action">tracks and Sweatpants</a></li>
                  </ul>
                  <ul id="ligr" class="list-group list-group-vertical">
                    <h5 style="color:rgb(185, 29, 29);font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-weight: bold;">Footwear</h5>
                    <li><a href="#" class="list-group-item-action">Formal Shoes</a></li>
                    <li><a href="#" class="list-group-item-action">Casual Shoes</a></li>
                    <li><a href="#" class="list-group-item-action">Sneakers</a></li>
                    <li><a href="#" class="list-group-item-action">Sports Shoes</a></li>
                  </ul>
                  </ul>
                   </div>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Women
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div id="colwid" class="col">
                <ul id="group"class="list-group list-group-horizontal">
                <ul id="ligr" class="list-group list-group-vertical">
                  <h5 style="color:rgb(185, 29, 29);font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-weight: bold;">Indian Wear</h5>
                    <li><a href="#" class="list-group-item-action">Kurtas & Suits</a></li>
                    <li><a href="#" class="list-group-item-action">Kurtis, Tunics & Tops</a></li>
                    <li><a href="#" class="list-group-item-action">Sarees</a></li>
                    <li><a href="#" class="list-group-item-action">Ethnic Wear</a></li>
                    <li><a href="#" class="list-group-item-action">Jackets</a></li>
                  </ul>
                    <ul id="ligr" class="list-group list-group-vertical">
                      <h5 style="color:rgb(185, 29, 29);font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-weight: bold;">Western Wear</h5>
                      <li><a href="#" class="list-group-item-action">Jeans</a></li>
                    <li><a href="#" class="list-group-item-action">Dresses</a></li>
                    <li><a href="#" class="list-group-item-action">Tops</a></li>
                    <li><a href="#" class="list-group-item-action">T-shirts</a></li>
                    <li><a href="#" class="list-group-item-action">Shorts & Skirts</a></li>
                  </ul>
                  <ul id="ligr" class="list-group list-group-vertical">
                    <h5 style="color:rgb(185, 29, 29);font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-weight: bold;">Footwear</h5>
                    <li><a href="#" class="list-group-item-action">Flats</a></li>
                    <li><a href="#" class="list-group-item-action">Heels</a></li>
                    <li><a href="#" class="list-group-item-action">Boots</a></li>
                    <li><a href="#" class="list-group-item-action">Sports Shoes</a></li>
                  </ul>
                  </ul>
                   </div>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="about-us">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="contact-us">Contact Us</a>
          </li>
        </ul>
        <form id="div1" class="d-flex">
          <input id="inp" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button id="srchbt" class="btn btn-outline-secondary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>      
        </form>
        <li class="nav-item d-flex">
            <a class="nav-link" aria-current="page" href="login"><i class="fa-solid fa-right-to-bracket fa-xl"></i></a>
          </li>  
      </div>
    </div>
  </nav><br><br>