<br><br><br><br><div class="card-group">
    <div class="card" style="border:transparent;">
            <div class="row"style="padding:2%;">
              <div class="col">
                <img src="https://assets.myntassets.com/h_1440,q_90,w_1080/v1/assets/images/13328040/2021/1/25/87bf0105-9b18-400f-9272-d9885238a82c1611567680803-Nike-MC-Trainer-Mens-Training-Shoe-951611567679209-1.jpg" width="100%" class="card-img-top" alt="...">
              </div>
              <div class="col">
                <img src="https://assets.myntassets.com/h_1440,q_90,w_1080/v1/assets/images/13328040/2021/1/25/6868c3b9-2095-4e05-9771-5423ca7a82f21611567680787-Nike-MC-Trainer-Mens-Training-Shoe-951611567679209-2.jpg" width="100%" class="card-image-top" alt="...">
              </div>
            </div>
            <div class="row" style="padding:2%;">
              <div class="col">
                <img src="https://assets.myntassets.com/h_1440,q_90,w_1080/v1/assets/images/13328040/2021/1/25/35ec798a-73e2-4f9a-9e48-ac05f6fba0311611567680770-Nike-MC-Trainer-Mens-Training-Shoe-951611567679209-3.jpg" width="100%" class="card-image-top" alt="...">
              </div>
              <div class="col">
                <img src="https://assets.myntassets.com/h_1440,q_90,w_1080/v1/assets/images/13328040/2021/1/25/d119b8bb-3569-48e6-af7a-645cce0afe4b1611567680752-Nike-MC-Trainer-Mens-Training-Shoe-951611567679209-4.jpg" width="100%" class="card-image-top" alt="...">
              </div>
              </div>
              <div class="row" style="padding:2%;">
                <div class="col">
                    <img src="https://assets.myntassets.com/h_1440,q_90,w_1080/v1/assets/images/13328040/2021/1/25/aa01d661-6d08-44d8-b979-b82eaea590ac1611567680735-Nike-MC-Trainer-Mens-Training-Shoe-951611567679209-5.jpg" width="100%" class="card-image-top" alt="...">
                  </div>
                  <div class="col">
                    <img src="https://assets.myntassets.com/h_1440,q_90,w_1080/v1/assets/images/13328040/2021/1/25/35ec798a-73e2-4f9a-9e48-ac05f6fba0311611567680770-Nike-MC-Trainer-Mens-Training-Shoe-951611567679209-3.jpg" width="100%" class="card-image-top" alt="...">
                  </div>
              </div>
    </div>
    <div class="card" style="border:transparent;">
      <div class="card-body">
        <h1 class="card-title"><strong>Nike</strong></h1>
        <p class="card-text text-muted" style="opacity:0.7 ; font-size:large;">Men Black Mesh MC Training Shoes</p><hr>
        <h1 style="font-family:'Times New Roman', Times, serif; font-size: xx-large;"><strong>Rs. 4950</strong></h1>
        <p class="text text-success" style="font-size:small;"><strong>Inclusive of all taxes</strong></p><br>
        <h2>Select size (UK size)</h2>
        <div class="row">
            <div class="col">
                <div style="border:solid; border-radius: 50%;text-align: center;padding: 25%;">5</div>
            </div>
            <div class="col">
                <div style="border:solid; border-radius: 50%;text-align: center;padding: 25%;">6</div>
            </div>
            <div class="col">
                <div style="border:solid; border-radius: 50%;text-align: center;padding: 25%;">7</div>
            </div>
            <div class="col" style="opacity:0.3;">
                <div style="border:solid; border-radius: 50%;text-align: center;padding: 25%;">8</div>
            </div>
            <div class="col" style="opacity:0.3;">
                <div style="border:solid; border-radius: 50%;text-align: center;padding: 25%;">9</div>
            </div>
            <div class="col">
                <div style="border:solid; border-radius: 50%;text-align: center;padding: 25%;">10</div>
            </div>
            <div class="col">
                <div style="border:solid; border-radius: 50%;text-align: center;padding: 25%;">11</div>
            </div>
            <div class="col">
                <div style="border:solid; border-radius: 50%;text-align: center;padding: 25%;">12</div>
            </div>
        </div><br><br><br>
        <a id="button" href="https://buy.stripe.com/test_aEUbMrgMMfaI9Jm289" class="btn btn-lg" tabindex="-1" role="button">BUY NOW</a>
      </div>
    </div>
  </div>
 